<div class="row">
    <div class="col-4 offset-4">
        <div *ngIf="hero.id > 0" class="text-center">
            <div class="card shadow-sm">
                <div class="card-body ">
                    <h3>Selected Hero</h3>
                    <p class="">{{hero.name | uppercase}}</p>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                            <input type="text" #tempName placeholder="name">
                            <button class="btn btn-primary btn-sm ml-2 shadow-sm" (click)="updateHeroName(tempName.value)">Update</button>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary btn-sm shadow ml-2" (click)="clearSelectedHero()">Clear</button>
                        <button class="btn btn-primary btn-sm shadow ml-2" (click)="saveSelectedHero()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
