<div class="row">
    <div class="col text-center mb-3">
        <h2>{{"Heroes" | uppercase }}</h2>
    </div>
</div>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<div class="row">
    <div class="col-3" *ngFor="let hero of heroes">
        <div class="card m-2 shadow">
            <div class="card-body text-center">
                <h2 (click)="selectHero(hero)">{{hero.name | uppercase}} Details</h2>
                <div class="row">
                    <div class="text-left col-6 offset-3">
                        <div><span>id: </span>{{hero.id}}</div>
                        <div><span>name: </span>{{hero.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



       

